<div class="container text-center">
  <div class="display-6">
    Pokedex
  </div>

  <div class="row m-3">
    <div class="col">
      <div class="pokenumber">
        N° 001
      </div>
</div>

</div>
  <div class="row m-3">
      <div class="col">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" alt="imagem do pokemon"
          width="400"
        />
      </div>
  </div>

  <div class="row m-3">
    <div class="col">
      Bubassalto
    </div>
  </div>
  <div class="row m-3">
    <div class="col">
      <button class="btn btn-primary">Anterior</button>
      <button class="btn btn-primary">Proximo</button>
    </div>


</div>
